In [2]:
print("Hello it's going to rain")
print("""hello
hi 
bye""")

Hello it's goint to rain
hello
hi
bye

In [3]:
#Variables 
a = 40
a = a-10
print(a)

30

In [8]:
a = "True"
print(type(a))

<class 'bool'>

In [9]:
name = input("enter name: ")
print(name)
print(type(name))

enter name: ayushi
ayushi
<class 'str'>

In [13]:
num = float(input("enter number: "))
print(num)
print(type(num))

enter number: 45
45.0
<class 'float'>

In [14]:
#Type conversion/type casting 
#inplicit explicit


a = 34
b = 2
print(a/b)

17.0

In [16]:
a = 34
print(type(a))
a = float(a)
print(type(a))

<class 'int'>
<class 'float'>

In [23]:
#Operators
#Arithmetic Operators (+, -, *, /, //, %, **)
print(5**3)

125

In [27]:
#Comparison Operators (==, !=, >, <, >=, <=)
a = 5
b = 7
print(a<b)

True

In [32]:
#Logical Operators (and, or , not)
salary = 75000

if not(salary > 50000 or salary > 100000) :
    print("party")
else:
    print("xyz")

xyz

In [38]:
#Assignment Operators (=, +=, -=, *=)
amount = 200
amount *= 50
print(amount)

10000

In [42]:
#Membership Operators (in, not in)

fruits = ["apple",'mango',"kiwi"]
print("banana" not in fruits)

name = "wscubetech"
print("b" not in name)

True
False

In [46]:
#Identity Operators (is, is not)

a = 34
b = 34.0
print(a is b)

False

In [57]:
#Conditional Statements 

marks = 80

try:
    print(56/0)
except:
    print("zero se divide nahi krna")
    
print("hello")

zero se divide nahi krna
hello

In [62]:
marks = 70

if marks > 75:
    print("pass")
else:
    print("fail")

fail

In [65]:
num = 345

if num >= 0 and num <=9:
    print("1 digit")
elif num >=10 and num <=99:
    print("2 digit")
else:
    print("3 digit")

3 digit

##### Nested if 

usernames = ["John","Peter","David"]
password = 12345

user = input("enter username: ")
if user in usernames:
    ps = int(input("enter password: "))
    if ps == password:
        print("login successful")
    else:
        print("incorrect password")
else:
    print("incorrect username")

In [77]:
marks = 56
print("pass") if marks > 75 else print("fail")

fail